* {box-sizing: border-box;}

body {
    margin: auto;
}

nav {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    text-align: right;
    width: 100%;
    justify-content: flex-end;

}

nav a {
    display: inline-block;

    padding-left: .5em;
    padding-right: .5em;


}

.main {
    display: flex;
    flex-direction: column;
    width: calc(50% - 2px);
    margin: 2px;
    /*float: left;*/
}

.sub-section {
    display: flex;
    flex-direction: column;
    /*float: right;*/
    justify-content: left;
    margin: 2px;
    width: calc(50% - 2px);

}

footer {
    display: flex;
    flex-direction: row;
    position: absolute;
}
